.wordWrap {
  margin: 10px;
  width: 170px;
  text-align: center;
  cursor: pointer;
  }
.true,
.false {
  text-align: center;
  padding: 10px;
  border: 2px solid green;
  &.anim {
    transform: rotateY(1turn);
    transition: transform 2s ease-in-out;
  }

}
.true {
  background-color: #1BB95E;
  color: #fff;
  border-color: aqua;


}
